.control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.visitors {
  margin-top: 50px;
}

.row img {
  display: inline-block;
  width: 60px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 100%;
}

.row img.accepted {
  border-color: green;
}

.row img.rejected {
  border-color: red;
}